/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/montserrat-v25-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../assets/fonts/montserrat-v25-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --white: #FFFFFF;
  --black: #1f1f1f;
  --black-100: #F4F5F7;
  --yellow: #FFBD12;
  --yellow-800: #FFD465;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Menu principal */
.header {
  position: relative;
}
.name {
  padding: 16px;
  color: azure;
  text-align: center;
  font-size:xx-large;
  border: 1px var(--black) solid;
  background-color: var(--black);
}
.nav {
  display: flex;
  background-color: var(--white);
  position: fixed;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  padding: 12px;
  margin: 0 10px;
  background-color: var(--black-100);
  border-radius: 20px;
}
.nav span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  padding: 12px;
  margin: 0 10px;
  background-color: var(--black-100);
  border-radius: 50%;
}
.nav span svg {
  fill: var(--yellow);
  stroke: var(--black);
}
.nav span:active {
  background-color: var(--yellow);
}
.nav span:active svg {
  fill: var(--black-100);
  stroke: var(--black);
}
.nav span p {
  color: var(--black);
  font-weight: 800;
  font-size: 13px;
  margin-left: 8px;
}

/* App de gatos */
#app {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: var(--black);
  padding-bottom: 88px;
}

/* seccion de imagenes random */
#discover, #upload, #favorites{
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  width: 90%;
  margin: 0 auto;
}

/* Estilos de cada imagen */
#discover .image, #favorites .image {
  width: 50%;
  padding: 16px;
  position: relative;
}

/* seccion de publicar fotos */
#upload {
  flex-direction: column;
  align-items: center;
}

/* Estilos del contendor para subir fotos */
.uploading {
  display: flex;
  flex-direction: column;
}
.uploading h2 {
  color: var(--black-100);
  text-align: center;
  margin-bottom: 12px;
}

#uploadingForm input {
  display: none;
}

#uploadingForm label, .uploading .uploadButton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  background-color: var(--black-100);
  border-radius: 12px;
  color: var(--black);
  font-weight: 800;
  font-size: 13px;
}

#uploadingForm .imgPreview {
  width: 100%;
  border-radius: 12px;
  margin-top: 24px;
}

.uploading .uploadButton {
  margin: 24px 0;
  border: none;
}

#uploadingForm label svg, .uploading .uploadButton svg {
  margin-right: 8px;
}


contra-photo {
  --color: white;
}
like-button {
  position: absolute;
  top: 25px;
  right: 25px;
}
like-button:hover svg {
  stroke: #f91880;
}
like-button:active svg {
  fill: #f91880;
}
